{% extends 'index.html' %}

{% block script %}
<script>
    var alert_id = document.querySelector('#alert_id').getAttribute("data-alert_id")

    function fadeInEffect() {
        var fadeTarget = document.getElementById("alert-body")
        fadeTarget.style.opacity = '100%'
    }

    function fadeOutEffect() {
        var fadeTarget = document.getElementById("alert-body")
        fadeTarget.style.opacity = '0%'
    }

    function playSound(sound_path) {
        return new Promise(res => {
            const audio = new Audio(sound_path)
            audio.play()
            audio.onended = res
        })
    }

    async function playMessage(data, socket) {
        const sender_name = document.getElementById("sender-name")
        const value = document.getElementById("sender-value")
        const message = document.getElementById("message")

        sender_name.innerText = data["sender_name"]
        value.innerText = data["value"]
        message.innerText = data["text"]

        await fadeInEffect()
        await playSound('../static/sounds/coin-sound.mp3')
        await playSound(data["sound_message_path"])
        await fadeOutEffect()

        await socket.emit("alert_completed", {"sound_message_path": data["sound_message_path"]})
    }

    class alertQueue {
        constructor() {
            this.queue = []
            this.state = 'idle'
        }

        enqueue(dict) {
            this.queue.push(dict)
        }

        async run() {
            this.state = 'running'
            for (let i = 0; (i + 1) <= this.queue.length; i++)
            {
                await playMessage((this.queue[i])["data"], (this.queue[i])["socket"])
            }
            this.state = 'idle'
        }
    }

    window.onload = function() {

        const alert_queue = new alertQueue

        const socket = io("/alerts/"+alert_id, {autoConnect: false});
        socket.connect()

        socket.on('connect', () => {
            socket.send('User Connected!')
            socket.emit("user_connected", {'username': alert_id})
        })

        document.querySelector("body").addEventListener('click', () => {
            console.log('enabled')
        })

        socket.on('new_message', async (data) => {
            if (alert_queue.state === 'idle')
            {
                alert_queue.enqueue({"data": data, "socket": socket})
                alert_queue.run()
            } else if (alert_queue.state === 'running')
            {
                alert_queue.enqueue({"data": data, "socket": socket})
            }
        })
    }

</script>
{% endblock %}